@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-momo-trust-display);
  --font-mono: var(--font-momo-trust-display);
  --color-j-teel-dark: #18534F;
  --color-j-teel-light: #226D68;
  --color-j-emeraude:#013331;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Momo Trust Display;
}
